html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: #f67722;
  border: 1px solid #f67722;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

div button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: #f67722;
  border: 1px solid #f67722;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

#token-info {
  display: none;
}

#token-info.visible {
  display: block;
  padding: 0 1rem;
}

#output {
  display: none;
}

#output.visible {
  height: 100%;
  width: 100%;
  display: flex;
}

#token-output{
  width: 40%;
  overflow-wrap: break-word;
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid black;
  border-radius: 3px;
  /*font-size: 14px;*/
}

#parse-token-output {
  width: 60%;
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
}
